/*Import fonts from fonts.css*/
@import url(./fonts.css);
html {
    scroll-behavior: smooth;
}
/*Navigation*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #F9F9F9;
}

.header_area .main-menu .fas.fa-briefcase.fa-2x{
    background: -webkit-linear-gradient(#614385,#516395);
    padding: 0 5rem 0 5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.7rem;
    color:black;
}

.header_area .main-menu .navbar-nav .active a{
    background: -webkit-linear-gradient(#614385,#516395);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} 

.header_area .main-menu .navbar-nav a:hover{
    background: -webkit-linear-gradient(#614385,#516395);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} 

.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    background: white;
}

/*End Navigation*/






/*Start introduction*/
.site-main{
    padding-top: 6rem;
}

.site-main .site-banner .container .row .col-lg-6.col-md-12 h3{
    padding-top: 3rem;
    font-weight: 500;
    
}

.btn.btn-light.text-uppercase{
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px transparent;
    border-radius: 4px;
    position: relative;
    font-weight: bold;
}

.about-main .container-fluid .row .col-lg-6.col-md-12.profileImage button{
    background: -webkit-linear-gradient(#614385,#516395);
    color: white;
    box-shadow:5px 10px 18px #614385;
    text-align: center;
} 

.about-main .container-fluid .row .col-lg-6.col-md-12.profileImage button:hover{
    background: #614385;
    color: white;
    background-clip: border-box;
    -webkit-transition:  1s ease-out;
    -moz-transition:  1s ease-out;
    -o-transition:  1s ease-out;
    transition:  1s ease-out;
    box-shadow:5px 10px 18px #614385;
} 
/*End introduction*/













/* About Me*/
.profileImage{
    float: none;
    text-align: center;
    margin-top: 1rem;
    padding-left: 1rem;
}

.about-main .container-fluid .row .text-uppercase{
    margin-top: 2.5rem;
}
.site-main span{
    color: #516395;
}

.about-main .container-fluid .row h2{
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    margin-left: 0;
}

.about-main .container-fluid .row h2::after{
    content: "";
    height: 3px;
    width: 60%;
    background: black;
    display: inline-block;
    transform: translateY(-10px);
    margin: 0px 5px 0px 5px;
}

#AboutMe{
    font-size: 17px;
    font-weight: 500;
}

#country{
    color: rgb(255, 77, 77);
}

/* End About Me*/
















/* About Project*/
.hex-wrap {
    margin-top: 5rem;
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    width: 100px;
}

.hexagon {
    background: -webkit-linear-gradient(#614385,#516395);
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57735);
}

.hexagon:before {
    background: -webkit-linear-gradient(#614385,#516395);
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}

.hexagon:after {
    background: -webkit-linear-gradient(#614385,#516395);
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
}

#rocket,
#speed,
#laptop,
#idea{
    font-size: 40px;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 1;
}

#citation{
    font-size: large;
    font-weight: 500;
}









/*Project Area*/
#Project{
    margin-top: 10rem;
    margin-bottom: 4rem;
}

#projectHeaderBefore::before{
    content: "";
    height: 6px;
    width: 20%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#projectHeaderAfter::after{
    content: "";
    height: 6px;
    width: 20%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#projectHeader{
    margin: 0 1rem 0 1rem;
}

.Project{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#Project span{
    font-size: 30px;
}

.Project .button-group button{
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    margin: 0rem 2rem 2rem 0rem ;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

button:focus,
button:active
button:hover
.btn:active{
    outline: 0px !important;
    box-shadow: none;
}

.button-group .active{
    background: -webkit-linear-gradient(#614385,#516395) !important;
    color: white;
    border-radius: 3px;
}

#androidProject{
    border-radius: 15px;
}

.Project .imgProject{
    margin-top: 2rem;
}

.Project .grid .imgProject a:hover img{
    filter: brightness(0.95) drop-shadow(1px 8px 30px #FFFFFF);
    transform: scale(0.9);
    transition: transform .2s;
}

.row.grid{
    margin: 0rem 4rem 4rem 0rem ;
}
/*End Project Area*/












/*Tool*/
#skillsetHeaderAfter::after{
    content: "";
    height: 6px;
    width: 20%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#skillsetHeaderBefore::before{
    content: "";
    height: 6px;
    width: 20%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#skillsetHeader{
    margin: 0 1rem 0 1rem;
}

#Tool span{
    font-size: 30px;
}

.Tool #Tool{
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.Tool{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.Tool .button-group-tool button{
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    margin: 0rem 2rem 2rem 0rem ;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.button-group-tool .active{
    background: -webkit-linear-gradient(#614385,#516395) !important;
    color: white;
    border-radius: 3px;
}

.row.Tool{
    margin: 0rem 4rem 4rem 0rem ;
}
/*End Tool*/









/*Contact*/
.Contact{
    margin-top: 10rem;
    background-color: #FBFBFB;
    font-family: "Roboto", sans-serif;
}

.Contact h1{
    font-size: 30px;
}

#ContactHeaderAfter::after{
    content: "";
    height: 6px;
    width: 20%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#ContactHeaderBefore::before{
    content: "";
    height: 6px;
    width: 20%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#Linkedin{
    color: #0e76a8;
    margin: 1rem;
}

#Facebook{
    color: #3b5998;
    margin: 1rem;
}

#Github{
    color: #000000;
    margin: 1rem;
}

#Email{
    color: #C0403F;
    margin: 1rem;
}
/*End Contact*/













@media only screen and (max-width: 600px) {
    
    
    /*Text title*/
    .site-main .site-banner .col-lg-6.col-md-12 h3{
        text-align: center;
    }
    .site-main .site-banner .col-lg-6.col-md-12 h1{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }
    .site-main .site-banner .col-lg-6.col-md-12 h4{
        text-align: center;
    }
    .site-main .site-banner .col-lg-6.col-md-12 .main-buttons .d-flex.flex-row #buttonResume{
        margin: auto;
        margin-top: 1rem;
    }
    
    
    /*Introduction*/
    
    /*Body*/
    .header_area .main-menu .fas.fa-briefcase.fa-2x{
        background: -webkit-linear-gradient(#614385,#516395);
        padding: 0 1rem 0 1rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .col-lg-6.col-md-12.banner .text-center img{
        margin-top: 3rem;
    }
    .about-main .container-fluid .row h2{
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin: auto;
        margin-top: 2rem;
    }

    /* About Me*/
.about-main .container-fluid .row h2::after,
.about-main .container-fluid .row h2::before{
    content: "";
    height: 3px;
    width: 25%;
    background: black;
    display: inline-block;
    transform: translateY(-7px);
    margin: 0px 10px 0px 10px;
}

    /* About Project*/
.Project .container-fluid h1{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

    .hex-wrap {
    margin-top: 5rem;
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    width: 100px;
}

/*Project*/
#projectHeader{
    margin: auto;
}

#projectHeaderBefore::before{
    content: "";
    height: 3px;
    width: 10%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#projectHeaderAfter::after{
    content: "";
    height: 3px;
    width: 10%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}
.Project #projectHeader,
.Project #projectHeaderBefore,
.Project #projectHeaderAfter{
    font-size: 20px;
    font-weight: bolder;
}
/*Skill set*/
#skillsetHeader{
    margin: auto;
}

#skillsetHeaderAfter::after{
    content: "";
    height: 3px;
    width: 10%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}

#skillsetHeaderBefore::before{
    content: "";
    height: 3px;
    width: 10%;
    background: black;
    display: inline-block;
    transform: translateY(-8px);
    margin: 0px 5px 0px 5px;
}
.Tool #skillsetHeader,
.Tool #skillsetHeaderBefore,
.Tool #skillsetHeaderAfter{
    font-size: 20px;
    font-weight: bolder;
}
/* Tool Used*/
.Tool .container-fluid h1{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

}
